MYSQL_DATABASE=yourls
MYSQL_IMAGE=mariadb:10.6.4
MYSQL_PASSWORD=yourls
MYSQL_USER=yourls
YOURLS_DB_PREFIX=ys_
YOURLS_IMAGE=yourls:1.8.1-apache
YOURLS_PASSWORD=yourls
YOURLS_URL_CONVERT=62
YOURLS_USER=yourls
YOURLS_SITE="https://shorte.bjphoster.com"
